<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Example"   >
        <packages>
            <package name="com.itcraft.JDIPresentation.uiTests.navigationTest" />
            <package name="com.itcraft.JDIPresentation.uiTests.contactTest" />
            <package name="com.itcraft.JDIPresentation.APITests" />
        </packages>
    </test>
</suite>
